[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavikkdi
[access "refs/for/refs/*"]
	read = group user/pavikkdi
	push = group user/pavikkdi
	label-Code-Review = -2..+2 group user/pavikkdi
	label-Verified = -1..+1 group user/pavikkdi
	rebase = group user/pavikkdi
	removeReviewer = group user/pavikkdi
	submit = group user/pavikkdi
[access "refs/heads/*"]
	read = group user/pavikkdi
	create = group user/pavikkdi
	push = +force group user/pavikkdi
	pushMerge = group user/pavikkdi
[access "refs/tags/*"]
	push = +force group user/pavikkdi
	pushTag = group user/pavikkdi
	pushSignedTag = group user/pavikkdi
